<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">

        <div class="mainTemp">
            <h2 class="locName">Ahmad Abad</h2>
            <h5 id="stylenew">winddirection is loading ...</h5>
            <h5 class="iconDesc">Your are Here ...</h5>
            <img id="locIcon" src="../static/src/img/Location Icon.png" alt="">
            <div id="temp">
                <h1 id="weatherDisplay">00</h1>
            </div>
            <h5 id="deg">°C</h5>
        </div>

        <div id="autoWeatherSection">
            <div id="autoMap"></div>
        </div>

        <div id="weatherIcon">
            <img src="/static/src/img/clouds.png" alt="" >
            
            <div id="windSpeed" >
                <h3 id="windIconNow">00</h3>
                <h1 id="WindUnitNow">oo</h1>
                <img id="weatherIconblue"id="" src="../static/src/img/wind blue.png" alt="" >
                <img id="weatherIconNow" src="../static/src/img/wind blue arrow.png" alt="" >
                
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>
